body{
    height: calc(100vh-);
  }

    td{
      padding: 10px;
    }
  
    
    .navigation {
    display: flex;
    justify-content: center;
    background-color: #FEEFFF;
  }

  .navigation a{
    text-decoration: none;
    background-color: #fedede;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
  }
  .navigation a:hover{
    transform: translate(2px, 4px);
    
  }
  
    .form-container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    
    .myform{
      background-color: #fefe;
      box-shadow: 2px 1px 5px 6px,-2px -2px 5px 6px #feee;
      padding: 3rem;
    }
    
  
  
  .form-control{
    margin-bottom: 10px;
    display: flex;
  }
  
  .form-control label:first-child{
    width: 200px;
    padding: 5px;
    max-width: 100px;
    }
  .form-control input[type="text"],input[type="date"], .form-control select {
    padding: 10px;
    border-radius: 10px;
    min-width: 250px;
    border: 0px;
    box-shadow: 1px -1px 4px .1px black;
    background-color: transparent;
    outline: none;
  }
  
  input[type="submit"]{
    background-color: blanchedalmond;
    border-radius: 30px;
    padding: 10px;
    float: right;
    font-size: 14px;
  }
  
  input[type="submit"]:hover
  {
    background-color: transparent;
    color: blue;
  }
